@font-face {
  font-family: 'stratos';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('stratos-thin.woff?') format('woff');
}

@font-face {
  font-family: 'stratos';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('stratos-semilight.woff?') format('woff');
}

@font-face {
  font-family: 'stratos';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('stratos-light.woff?') format('woff');
}

@font-face {
  font-family: 'stratos';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('stratos-regular.woff?') format('woff');
}

@font-face {
  font-family: 'stratos';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('stratos-medium.woff?') format('woff');
}

@font-face {
  font-family: 'stratos';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('stratos-semibold.woff') format('woff');
}

@font-face {
  font-family: 'stratos';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('stratos-bold.woff?') format('woff');
}

@font-face {
  font-family: 'stratos';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('stratos-extrabold.woff') format('woff');
}

@font-face {
  font-family: 'stratos';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('stratos-black.woff') format('woff');
}
