<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/App.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.partymap.quasar</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>SigningIdentity</key>
		<string>Apple Development: Peter Steven (T8QY4FK63P)</string>
		<key>Team</key>
		<string>Y9BGGY6XV2</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>Comment</key>
	<string>Final iOS release</string>
	<key>CreationDate</key>
	<date>2024-01-23T18:11:58Z</date>
	<key>Distributions</key>
	<array>
		<dict>
			<key>certificateSHA1</key>
			<string>1BA514860684F8C66F5BD14EB75D03B1D48E69AE</string>
			<key>destination</key>
			<string>upload</string>
			<key>identifier</key>
			<string>16aa7332-d389-4342-b716-1421b9d11a89</string>
			<key>preparationEvent</key>
			<dict>
				<key>date</key>
				<string>2024-01-23T18:12:12Z</string>
				<key>errors</key>
				<array/>
				<key>infoMessages</key>
				<array/>
				<key>shortTitle</key>
				<string>Prepared</string>
				<key>state</key>
				<string>success</string>
				<key>title</key>
				<string>Prepared archive for uploading</string>
				<key>warnings</key>
				<array/>
			</dict>
			<key>task</key>
			<string>distribute</string>
			<key>teamID</key>
			<string>Y9BGGY6XV2</string>
			<key>uploadDestination</key>
			<string>App Store</string>
			<key>uploadEvent</key>
			<dict>
				<key>date</key>
				<string>2024-01-23T18:13:46Z</string>
				<key>errors</key>
				<array/>
				<key>infoMessages</key>
				<array/>
				<key>shortTitle</key>
				<string>Uploaded</string>
				<key>state</key>
				<string>success</string>
				<key>title</key>
				<string>Uploaded to Apple</string>
				<key>warnings</key>
				<array/>
			</dict>
		</dict>
	</array>
	<key>Name</key>
	<string>App</string>
	<key>SchemeName</key>
	<string>App</string>
</dict>
</plist>
