// app global css in SCSS form

@import '/src/css/inter/inter.css';
@import '/src/css/metropolis/metropolis.css';
/*
@import '/src/css/chicago/chicago.css';
//@import '/src/css/metropolis/inter.css';

.chicago {
  font-family: chicago;
  //font-style: italic;
  &.bold {
    font-weight: 700;
  }
  &.lower {
    text-transform: lowercase;
  }
  &.upper {
    text-transform: uppercase;
  }
  &.regular {
    font-style: unset;
  }
}
  */

.card {
  border-radius: 0px;
}

.grow {
  flex-grow: 1;
}

.q-field {
  //  border-radius: 0px!important;
  .q-field__control {
    //  border-radius: 0px!important;
  }
}

.q-btn {
  //  border-radius: 0px!important;
}

.q-btn-group {
  border-radius: 9px;
  border: none !important;
}

.inter {
  font-family: 'Inter';
  &.semibold {
    font-weight: 500;
  }
  &.bold {
    font-weight: 600;
  }
  &.bold2 {
    font-weight: 700;
  }
  &.bolder {
    font-weight: 800;
  }
}

.metropolis {
  font-family: 'Metropolis';
  &.semibold {
    font-weight: 500;
  }
  &.bold {
    font-weight: 600;
  }
  &.bold2 {
    font-weight: 700;
  }
  &.bolder {
    font-weight: 800;
  }
  &:lang(ru) {
    font-family: 'InterDisplay' !important;
  }
}

.stratos {
  font-family: 'stratos';
  &.bold {
    font-weight: 600;
  }
  &.bolder {
    font-weight: 800;
  }
  &.black {
    font-weight: 900;
  }
}

// declare a class which applies it

.sans-serif {
  font-family: sans-serif;
}

.serif {
  font-family: serif;
}

.o-090 {
  opacity: 0.9;
}
.o-080 {
  opacity: 0.8;
}
.o-070 {
  opacity: 0.7;
}
.o-060 {
  opacity: 0.6;
}
.o-050 {
  opacity: 0.5;
}
.o-040 {
  opacity: 0.4;
}
.o-030 {
  opacity: 0.3;
}
.o-020 {
  opacity: 0.2;
}
.o-010 {
  opacity: 0.1;
}
.o-000 {
  opacity: 0;
}

.o-animated {
  transition: opacity 0.3s;
}

.body--dark {
  .sticky-input {
    background: black;
  }
}

.body--light {
  .sticky-input {
    background: white;
  }
}

.sticky-input {
  position: sticky;
  z-index: 1;
  top: 0;
}

.control-menu {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

@media only screen and (max-width: 599px) {
  .component-wrapper {
    .sticky-input {
    }
    .control-menu {
      max-height: 400px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
