// ==============================================
// IMPORTS
// ==============================================
@import '/src/css/inter/inter.css';
@import '/src/css/metropolis/metropolis.css';

// ==============================================
// UTILITY CLASSES
// ==============================================

// Layout
.grow { flex-grow: 1; }
.sticky-input {
  position: sticky;
  z-index: 1;
  top: 0;
}
.control-menu {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.menubar { z-index: 4500; }
.overlay-page {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: auto;
  z-index: 4000;
  overflow: auto;
}
.pointer-events-none { pointer-events: none !important; }
.disabled { pointer-events: none; }

// Borders
.border-radius { border-radius: 9px !important; }
.separator {
  width: 100%;
  border-top: 1px solid;
  
  &.vertical {
    border-top: none;
    border-left: 1px solid;
    height: 100%;
    width: unset;
  }
}

// Opacity
.o-090 { opacity: 0.9; }
.o-080 { opacity: 0.8; }
.o-070 { opacity: 0.7; }
.o-060 { opacity: 0.6; }
.o-050 { opacity: 0.5; }
.o-040 { opacity: 0.4; }
.o-030 { opacity: 0.3; }
.o-020 { opacity: 0.2; }
.o-010 { opacity: 0.1; }
.o-000 { opacity: 0; }
.o-animated { transition: opacity 0.3s; }

// Shadows
.shadow {
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.shadow-md {
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.shadow-lg {
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.shadow-xl {
  box-shadow:
    0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.shadow-2xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.soft-shadow {
  box-shadow:
    rgba(0, 0, 0, 0.15) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

// ==============================================
// TYPOGRAPHY
// ==============================================

// Font Families
.inter {
  font-family: 'Inter';
  &.semibold { font-weight: 500; }
  &.bold { font-weight: 600; }
  &.bold2 { font-weight: 700; }
  &.bolder { font-weight: 800; }
}

.metropolis {
  font-family: 'Metropolis';
  &.semibold { font-weight: 500; }
  &.bold { font-weight: 600; }
  &.bold2 { font-weight: 700; }
  &.bolder { font-weight: 800; }
  &:lang(ru) { font-family: 'InterDisplay' !important; }
}

.stratos {
  font-family: 'stratos';
  &.bold { font-weight: 600; }
  &.bolder { font-weight: 800; }
  &.black { font-weight: 900; }
}

.sans-serif { font-family: sans-serif; }
.serif { font-family: serif; }

// Headings
.text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6 {
  font-family: 'Metropolis';
  &:lang(ru) { font-family: 'InterDisplay' !important; }
}

.text-h2 { font-weight: 700; }
.text-h6 {
  font-weight: 500;
  line-height: 1.8rem;
  letter-spacing: unset !important;
}
.text-large { font-size: 1rem; }

// Links
.link-hover {
  color: unset;
  cursor: pointer;
  text-decoration: none !important;
  
  &:hover { color: $primary !important; }
  &.underline { text-decoration: underline !important; }
  &.primary { color: $primary; }
}

// ==============================================
// COMPONENTS
// ==============================================

// Buttons
.q-btn {
  font-size: 14px;
  border-radius: 9px !important;
  font-weight: 500;
  
  .q-btn__content { flex-wrap: nowrap; }
  &.q-btn--square { border-radius: 0 !important; }
}

.button-light {
  font-weight: 500;
  font-family: Inter;
  text-transform: capitalize;
  border-radius: 9px !important;
  font-size: normal;
  padding: 4px 12px !important;
  white-space: nowrap;
}

.button-plain {
  padding: 0 12px;
  font-weight: 500;
  font-family: Inter;
  text-transform: capitalize;
  font-size: normal;
  border-radius: 9px !important;
  overflow: hidden;
  
  .q-btn__wrapper { padding: 0; }
  .q-btn__content {
    white-space: nowrap;
    
    .button-label { padding: 0 12px; }
    .q-icon { margin-right: -6px; }
  }
}

.nav-button {
  font-weight: 500;
  cursor: pointer;
  border-radius: 9px;
  flex-grow: 0;
  flex-basis: 1;
  max-height: 56px;
  transition: all 0.3s;
  
  &.primary {
    background: $primary !important;
    color: white;
  }
}

.soft-button-shadow {
  &::before {
    box-shadow:
      rgba(0, 0, 0, 0.15) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.1) 0px 1px 2px 0px !important;
  }
}

// Cards
.q-card {
  border-radius: 9px !important;
  position: relative;
}

.edit-card {
  min-width: 400px;
  max-width: 460px;
}

.dialog-card {
  display: flex;
  flex-direction: column;
  
  .dialog-card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 0px;
    z-index: 100;
    padding: 16px 16px;
    font-weight: 700 !important;
    
    .text-h6 { font-weight: 700 !important; }
  }
  
  .dialog-card-content { overflow-y: auto; }
}

.sticky-header {
  position: sticky;
  top: 0px;
  z-index: 1000;
}

// Menus
.q-menu {
  border-radius: 9px !important;
  font-size: small;
  color: $t-1;
  
  &.q-menu--dark {
    box-shadow: none;
    border: 1px solid $bi-4;
    color: $ti-1;
  }
}

.menu-wrapper { max-height: 500px; }

// Dialogs
.q-dialog {
  @supports ((top: var(--safe-area-inset-top))) {
    top: calc(var(--safe-area-inset-top));
  }
  
  @supports ((bottom: var(--safe-area-inset-bottom))) {
    height: calc(
      100% - var(--safe-area-inset-bottom) - var(--safe-area-inset-top)
    );
  }
  
  .q-dialog__inner {
    @supports ((top: var(--safe-area-inset-top))) {
      top: calc(var(--safe-area-inset-top));
    }
    
    @supports ((bottom: var(--safe-area-inset-bottom))) {
      height: calc(
        100% - var(--safe-area-inset-bottom) - var(--safe-area-inset-top)
      ) !important;
    }
    
    &.q-dialog__inner--minimized {
      padding: 16px;
      
      > div { 
        max-height: 90vh;
        margin: 0 auto;
      }
    }
  }
}

.dialog-page {
  background: rgba(0, 0, 0, 0.48);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px) saturate(150%);
  
  .auth-card {
    margin-top: 48px;
    width: 400px;
    margin-bottom: 48px;
    overflow: auto;
  }
}

// Inputs
.q-input { border-radius: 9px !important; }

.q-field {
  &__control { overflow: hidden; }
  &--filled .q-field__control { border-radius: 4px !important; }
}

// Calendar
.vc-container {
  background: transparent !important;
  font-family: Inter;
  
  .vc-arrow { background: transparent !important; }
  .vc-title { background: transparent; }
  .on-right { margin-left: unset !important; }
  .on-left { margin-right: unset !important; }
}

// ==============================================
// THEMES
// ==============================================

// Light Theme
.body--light {
  .sticky-input { background: white; }
  
  .dialog-card {
    .dialog-card-header {
      background: $b-2;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
  
  .q-dialog__backdrop {
    background: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.8));
  }
  
  .sticky-header {
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  // Text Colors
  .t1 { color: $t-1; }
  .t2 { color: $t-2; }
  .t3 { color: $t-3; }
  .t4 { color: $t-4; }
  
  // Background Colors
  .b1 { background-color: $b-1; }
  .b2 { background-color: $b-2; }
  .b3 { background-color: $b-3; }
  .b4 { background-color: $b-4; }
  
  // Other Elements
  .q-list--bordered { border: 1px solid rgba(0, 0, 0, 0.05); }
  .q-card__actions {
    background: $b-1;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .auth-card {
    background: rgba(255, 255, 255, 1) !important;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .q-field--filled .q-field__control {
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .title { color: $t-1 !important; }
  .q-date__header { color: black !important; }
  
  .q-date {
    background: rgba(0, 0, 0, 0.05);
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.2),
      0 1px 1px rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12) !important;
  }
  
  .q-card {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .button-light {
    color: $t-1;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    
    .q-btn__wrapper::before { box-shadow: none; }
  }
  
  .button-plain {
    color: $t-1;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
    transition: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
    &::before { box-shadow: none !important; }
    .q-btn__wrapper::before { box-shadow: none; }
    
    &.active {
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: $b-3 !important;
    }
  }
  
  .nav-button {
    background: $b-3;
    &:hover { background: $b-4; }
  }
  
  .separator { border-color: rgba(0, 0, 0, 0.1); }
  
  .editing {
    &.editing-outline {
      border: 1px dashed rgba(0, 0, 0, 0.4) !important;
      border-radius: 9px !important;
      cursor: pointer;
    }
    
    .editing-outline {
      border: 1px dashed rgba(0, 0, 0, 0.4) !important;
      border-radius: 9px !important;
      cursor: pointer;
    }
  }
  
  .overlay-page {
    background: linear-gradient(0deg, white, rgba(255, 255, 255, 0.8));
  }
  
  .swipe-nav-bar {
    width: 40px;
    height: 2px;
    margin-bottom: 1px;
    background-color: rgba(200, 200, 200, 1);
    position: absolute;
  }
}

// Dark Theme
.body--dark {
  background: black !important;
  
  .sticky-input { background: black; }
  
  // Text Colors
  .t1 { color: $ti-1; }
  .t2 { color: $ti-2; }
  .t3 { color: $ti-3; }
  .t4 { color: $ti-4; }
  
  // Background Colors
  .b1 { background-color: $bi-1; }
  .b2 { background-color: $bi-2; }
  .b3 { background-color: $bi-3; }
  .b4 { background-color: $bi-4; }
  
  // Cards
  .dialog-card {
    background: $bi-2 !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    
    .dialog-card-header {
      background: $bi-3 !important;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
    }
  }
  
  .auth-card { background: rgba(0, 0, 0, 1) !important; }
  .q-card {
    box-shadow: none;
    border: 1px solid rgb(26, 26, 26);
  }
  
  // UI Elements
  .sticky-header {
    background: black;
    border-bottom: 1px solid rgb(30, 30, 30);
  }
  
  .q-list--bordered { border: 1px solid rgba(255, 255, 255, 0.05); }
  .q-dialog__backdrop {
    background: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.8));
  }
  
  .q-field--dark .q-field__control::before {
    border-color: rgb(64, 64, 64);
  }
  
  // Buttons
  .button-light {
    color: $ti-1;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px 0px;
    
    .q-btn__wrapper::before { box-shadow: none; }
  }
  
  .button-plain {
    background: black;
    color: $ti-1;
    transition: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px 0px;
    
    &.active {
      border: 1px solid rgba(255, 255, 255, 0.1);
      background: $bi-3 !important;
    }
  }
  
  .nav-button {
    background: $bi-3;
    &:hover { background: $bi-4; }
  }
  
  // Calendar
  .vc-container {
    border-color: rgb(50, 50, 50) !important;
    background: transparent !important;
    
    :deep(.vc-day-content.is-disabled) {
      color: rgba(255, 255, 255, 0.2) !important;
    }
    
    :deep(.vc-highlights) .vc-highlight {
      background-color: rgba(255, 255, 255, 0.2) !important;
    }
  }
  
  // Misc
  .separator { border-color: rgb(26, 26, 26); }
  
  .editing {
    &.editing-outline {
      border: 1px dashed rgba(255, 255, 255, 0.3) !important;
      background: $bi-2;
      border-radius: 9px;
      cursor: pointer;
    }
  }
  
  .overlay-page {
    background: linear-gradient(0deg, black, rgba(0, 0, 0, 0.8));
  }
  
  .swipe-nav-bar {
    width: 40px;
    height: 2px;
    background-color: rgb(36, 36, 36);
    position: absolute;
  }
}

// ==============================================
// MOBILE STYLES
// ==============================================
@media only screen and (max-width: 599px) {
  // Theme adjustments
  .body--dark {
    .q-dialog .menu { color: $bi-2; }
    .dialog-page { background: black; }
  }
  
  .body--light {
    .q-dialog .menu { color: $b-2; }
    .dialog-page { background: white; }
  }
  
  // Dialog and card adjustments
  :deep(.q-dialog) .q-card { max-width: 100vw; }
  
  .q-card.fullscreen-mobile-card {
    border: none !important;
    box-shadow: none !important;
    margin: 0;
    width: 100%;
    height: 100%;
    max-height: unset !important;
    border-radius: 0 !important;
  }
  
  // iOS specific overrides
  body.q-ios-padding {
    .q-dialog__inner { padding: 0 !important; }
    .fullscreen { padding: 0 !important; }
    .q-dialog__inner > div { max-height: 100vh !important; }
  }
  
  // Android specific overrides
  .platform-android {
    .q-select__dialog {
      padding-top: var(--safe-area-inset-top) !important;
    }
  }
  
  // Edit card adjustments
  .edit-card {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    border-radius: 0 !important;
    border: none !important;
  }
  
  // Auth dialog adjustments
  .dialog-page .auth-card {
    border: none !important;
    box-shadow: none !important;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 !important;
    
    .dialog-card-header {
      width: 100%;
      align-items: center;
      display: flex;
      text-align: center;
    }
  }
  
  // Component adjustments
  .tag { font-size: 0.9em; }
  
  .component-wrapper {
    .control-menu {
      max-height: 400px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
